header {
    height: 120px;
    background-color: #092e49;
    .logo__img {
        margin-top: 40px;
        width: 127px;
    }
    .nav {
        ul {
            line-height: 120px;
            display: flex;
            li {
                font-size: 30px;
                font-weight: bold;
                color: #fff;
                margin-left: 30px;
            }
        }
    }
    .visit__btn {
        height: 39px;
        color: #fff;
        background: #5c77d8;
        margin-top: 40px;
        margin-left: 20px;
        padding: 0px 44px;
        position: relative;
        z-index: 2;
        font-size: 20px;
        line-height: 39px;
    }
    .btn-wrap {
        position: relative;
    }
    .shadow-btn {
        position: absolute;
        background: #3a4280;
        padding: 16px 90px;
        top: 53px;
        left: 23px;
        z-index: 1;
    }
}