@charset "UTF-8";
/* Set các giá trị với màn hình tương ứng */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: 0.06em;
  line-height: 1.75;
  position: relative;
  font-size: 1.4rem;
  background-color: #f1f1f3;
}

.header {
  background-color: #000;
  height: 70px;
}

.header .header__logo {
  margin: 10px 20px;
}

@media (max-width: 766px) {
  .header .header__logo {
    width: 100px;
    margin: 17px 20px;
  }
}

.header .nav__item {
  margin-top: 20px;
  color: #fff;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  margin-left: 10px;
}

@media (max-width: 766px) {
  .header .nav__item {
    width: 120px;
    height: 30px;
  }
}

.header .nav__item:hover {
  background-color: #efcd5f;
}

.header .nav__item:hover a {
  color: #fff;
}

.header .nav__item a {
  margin-top: 8px;
  display: inline-block;
  list-style: 40px;
}

@media (max-width: 766px) {
  .header .nav__item a {
    width: 120px;
    height: 30px;
    margin-top: 2px;
  }
}

.header .nav__list li:last-child {
  border: 2px solid #efcd5f;
}

@media (max-width: 766px) {
  .header .nav__list {
    margin-left: 15px;
  }
}

footer {
  height: 50px;
  background-color: #000;
}

footer h1 {
  text-align: center;
  margin: 0;
  color: #848489;
  font-size: 16px;
  line-height: 50px;
}

.introduce p, .policy .approve__text, .purchase .purchase__text, .trading .trading__text {
  font-size: 26px;
  line-height: 38px;
  color: #000;
}

.main {
  overflow: hidden;
}

.introduce {
  margin-top: 64px;
}

.introduce h1 {
  font-size: 54px;
  line-height: 65px;
  font-weight: bold;
  color: #000;
  margin: 0 auto;
  max-width: 940px;
  text-align: center;
}

@media (max-width: 766px) {
  .introduce h1 {
    font-size: 23px;
    line-height: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .introduce h1 {
    font-size: 43px;
    line-height: 0px;
  }
}

.introduce p {
  padding-top: 30px;
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .introduce p {
    font-size: 23px;
    line-height: 20px;
  }
}

.policy {
  height: 500px;
  width: 100%;
  position: relative;
}

@media (max-width: 766px) {
  .policy {
    text-align: center;
    max-height: 355px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .policy {
    text-align: center;
  }
}

.policy .approve__text {
  margin-top: 200px;
  max-width: 406px;
  padding: 0 16px;
  font-weight: 300;
}

@media (max-width: 766px) {
  .policy .approve__text {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .policy .approve__text {
    margin-top: 15px;
    text-align: center;
    font-size: 23px;
    line-height: 20px;
    max-width: 1000px;
    margin-bottom: 20px;
  }
}

.policy .approve__img {
  position: absolute;
  top: -6%;
  left: 70%;
  z-index: 2;
}

@media (min-width: 1338px) and (max-width: 1919px) {
  .policy .approve__img {
    left: 55%;
  }
}

@media (min-width: 1024px) and (max-width: 1335px) {
  .policy .approve__img {
    left: 43%;
  }
}

@media (max-width: 766px) {
  .policy .approve__img {
    position: unset;
    width: 345px;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .policy .approve__img {
    position: unset;
  }
}

.policy .approve__img-bg {
  position: absolute;
  top: -25%;
  left: 87%;
  z-index: 1;
}

@media (min-width: 1338px) and (max-width: 1919px) {
  .policy .approve__img-bg {
    left: 70%;
  }
}

@media (min-width: 1024px) and (max-width: 1335px) {
  .policy .approve__img-bg {
    left: 62%;
  }
}

@media (max-width: 766px) {
  .policy .approve__img-bg {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .policy .approve__img-bg {
    display: none;
  }
}

.policy .dot__bg {
  position: absolute;
  top: -15%;
  left: -18%;
  z-index: 3;
  width: 1822px;
  height: 1666px;
}

@media (min-width: 1338px) and (max-width: 1919px) {
  .policy .dot__bg {
    left: -4%;
    width: 1408px;
  }
}

@media (min-width: 1024px) and (max-width: 1335px) {
  .policy .dot__bg {
    left: -7%;
    width: 1208px;
  }
}

@media (max-width: 766px) {
  .policy .dot__bg {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .policy .dot__bg {
    display: none;
  }
}

.purchase {
  height: 500px;
  width: 100%;
  position: relative;
}

@media (max-width: 766px) {
  .purchase {
    text-align: center;
    height: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .purchase {
    text-align: center;
  }
}

.purchase .purchase__text {
  margin-top: 100px;
  margin-left: 60%;
  max-width: 406px;
  padding: 0 16px;
  font-weight: 300;
}

@media (max-width: 766px) {
  .purchase .purchase__text {
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .purchase .purchase__text {
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 23px;
    line-height: 24px;
    max-width: 1006px;
  }
}

.purchase .purchase__img {
  width: 540px;
  position: absolute;
  top: -6%;
  left: -10%;
  z-index: 2;
}

@media (min-width: 1338px) and (max-width: 1919px) {
  .purchase .purchase__img {
    left: 2%;
  }
}

@media (min-width: 1024px) and (max-width: 1335px) {
  .purchase .purchase__img {
    left: 2%;
  }
}

@media (max-width: 766px) {
  .purchase .purchase__img {
    position: unset;
    width: 345px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .purchase .purchase__img {
    position: unset;
  }
}

.purchase .purchase__img-bg {
  position: absolute;
  top: -25%;
  left: -35%;
  z-index: 1;
}

@media (min-width: 1338px) and (max-width: 1919px) {
  .purchase .purchase__img-bg {
    left: -9%;
  }
}

@media (min-width: 1024px) and (max-width: 1335px) {
  .purchase .purchase__img-bg {
    left: -12%;
  }
}

@media (max-width: 766px) {
  .purchase .purchase__img-bg {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .purchase .purchase__img-bg {
    display: none;
  }
}

.trading {
  height: 500px;
  width: 100%;
  position: relative;
}

@media (max-width: 766px) {
  .trading {
    text-align: center;
    height: 365px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .trading {
    text-align: center;
  }
}

.trading .trading__text {
  margin-top: 100px;
  max-width: 406px;
  padding: 0 16px;
  font-weight: 300;
}

@media (max-width: 766px) {
  .trading .trading__text {
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .trading .trading__text {
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 23px;
    max-width: 1000px;
    line-height: 24px;
  }
}

.trading .trading__img {
  position: absolute;
  top: -6%;
  left: 70%;
  z-index: 2;
  height: 345px;
  width: 500px;
}

@media (min-width: 1338px) and (max-width: 1919px) {
  .trading .trading__img {
    left: 55%;
  }
}

@media (min-width: 1024px) and (max-width: 1335px) {
  .trading .trading__img {
    left: 43%;
  }
}

@media (max-width: 766px) {
  .trading .trading__img {
    position: unset;
    width: 345px;
    height: unset;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .trading .trading__img {
    position: unset;
  }
}

.trading .trading__img-bg {
  position: absolute;
  top: -25%;
  left: 87%;
  z-index: 1;
}

@media (min-width: 1338px) and (max-width: 1919px) {
  .trading .trading__img-bg {
    left: 70%;
  }
}

@media (min-width: 1024px) and (max-width: 1335px) {
  .trading .trading__img-bg {
    left: 62%;
  }
}

@media (max-width: 766px) {
  .trading .trading__img-bg {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .trading .trading__img-bg {
    display: none;
  }
}

.coming h1,
.funding h1 {
  text-align: center;
  font-size: 54px;
  line-height: 65px;
  color: #000;
  font-weight: 600;
  margin: 0 0 21px;
}

@media (max-width: 766px) {
  .coming h1,
  .funding h1 {
    font-size: 34px;
    line-height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .coming h1,
  .funding h1 {
    font-size: 34px;
    line-height: 40px;
  }
}

.coming p,
.funding p {
  width: 190px;
  text-align: center;
  background: #efcd5f;
  border-radius: 40px;
  padding: 14px 42px;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: pointer;
}

.non-crypto {
  background: #efcd5f;
  border-radius: 12px;
  padding: 59px 16px;
}

.non-crypto .creatives__title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: #000;
  margin: 0 0 33px;
  text-align: center;
}

@media (max-width: 766px) {
  .non-crypto .creatives__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.non-crypto .creatives--wrap {
  max-width: 1000px;
  margin: 0 auto 24px;
  border: 2px dashed #4d4d4d;
  border-radius: 10px;
  padding: 20px;
}

.non-crypto .creatives--wrap .creatives__text {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  font-weight: 300;
  padding: 0 15px;
}

@media (max-width: 766px) {
  .non-crypto .creatives--wrap .creatives__text {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .non-crypto .creatives--wrap .creatives__text {
    text-align: center;
  }
}

@media (max-width: 766px) {
  .non-crypto .creatives--wrap img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .non-crypto .creatives--wrap img {
    width: 100%;
  }
}

.non-crypto .exploring {
  max-width: 1000px;
  margin: 0 auto 24px;
  border: 2px dashed #4d4d4d;
  border-radius: 10px;
  padding: 20px;
}

.non-crypto .exploring .exploring__text {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  font-weight: 300;
  padding: 0 15px;
}

@media (max-width: 766px) {
  .non-crypto .exploring .exploring__text {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .non-crypto .exploring .exploring__text {
    text-align: center;
  }
}

@media (max-width: 766px) {
  .non-crypto .exploring img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .non-crypto .exploring img {
    width: 100%;
  }
}

.non-crypto .non-crypto__btn {
  width: 190px;
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 40px;
  padding: 14px 42px;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: pointer;
}

.club {
  max-width: 913px;
  margin: 100px auto;
  border: 2px dashed #fdc54d;
  border-radius: 268px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  padding: 50px 60px;
  position: relative;
}

@media (max-width: 766px) {
  .club {
    padding: 10px;
    border-radius: 151px;
  }
}

.club h1 {
  text-align: center;
  font-size: 34px;
  line-height: 45px;
  color: #000;
  font-weight: 600;
  margin: 0 0 21px;
}

.club h1 span {
  color: #fdc54d;
}

@media (max-width: 766px) {
  .club h1 {
    font-size: 20px;
    line-height: 30px;
  }
}

.club p {
  text-align: center;
  font-size: 34px;
  line-height: 45px;
  color: #000;
  font-weight: 300;
  margin: 0 0 21px;
}

@media (max-width: 766px) {
  .club p {
    font-size: 16px;
    line-height: 25px;
  }
}

.club .eye__img {
  position: absolute;
  top: -17%;
  left: 75%;
}

@media (max-width: 766px) {
  .club .eye__img {
    width: 150px;
  }
}

.club .movie__img {
  position: absolute;
  top: 51%;
  left: -7%;
  width: 130px;
}

@media (max-width: 766px) {
  .club .movie__img {
    width: 100px;
  }
}

.countdown-container {
  border-top: 1px solid;
}

.countdown-container #countdown-time {
  padding-top: 70px;
  text-align: center;
}

.countdown-container #countdown-time .clock-number {
  margin-bottom: 36px;
  height: 70px;
  font-size: 4rem;
  font-weight: 600;
  color: #000;
}

@media (max-width: 766px) {
  .countdown-container #countdown-time .clock-number {
    font-size: 4rem;
    margin-bottom: 20px;
  }
}

.countdown-container #countdown-time .clock-title {
  text-align: center;
  color: #000;
}

.countdown-container .presale-button {
  border: 0.125rem solid #e2d8d8;
  background-color: #2f6dff;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  text-align: center;
  width: 200px;
  color: #fff;
  height: 3.75rem;
}

.center {
  text-align: center;
  margin-bottom: 50px;
}

.center h2 {
  font-size: 4.5rem;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
}

.center .claim__title,
.center .safe {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #000;
}

.center .claim__title span,
.center .safe span {
  -webkit-text-fill-color: unset;
  font-size: 16px;
  display: block;
}

.center .waves-effect__btn {
  background-color: #efcd5f;
  border-radius: 8px;
}

.center #buyinput,
.center #airinput,
.center #refaddress {
  text-align: left;
  border-bottom: 1px solid #efcd5f;
  margin-left: 20%;
  margin-bottom: 20px;
  display: block;
  width: 60%;
}

.center .invite,
.center .attention {
  font-size: 2.52rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

.center .address,
.center .bep20 {
  font-size: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
/*# sourceMappingURL=main.css.map */