.header {
    position: relative;
    z-index: 10;
    .logo {
        margin-top: 10px;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }
    .logo__img {
        margin-right: 20px;
        cursor: pointer;
        width: 100px;
    }
    .icon__img {
        cursor: pointer;
        width: 20px;
        margin-left: 20px;
    }
    .nav {
        ul {
            display: flex;
            flex-direction: row;
            li {
                font-size: 15px;
                cursor: pointer;
                color: #f2be43;
                font-weight: 500;
                margin-left: 20px;
                line-height: 70px;
                &:hover {
                    transition: 0.3s;
                    color: #fff5af !important;
                    text-decoration: none !important;
                }
            }
        }
    }
}